<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyIssue-Mapper">
	
	<select id="selectIssueByMber_sn" resultType="issue">
	/*	selectIssueByPrjctSn */
		SELECT	ROWNUM, openIS.* 
		FROM
			(
			SELECT
				A.ISSUE_SN,
				A.ISSUE_TITLE,
				E.PRJCT_SJ,
				(
					SELECT
						D.MILE_NO
					FROM
						MILESTONE D
					WHERE
						A.MILE_NO = D.MILE_NO
				)  AS MILE_NO,
	    		(
					SELECT
						D.MILE_TITLE
					FROM
						MILESTONE D
					WHERE
						A.MILE_NO = D.MILE_NO
				)  AS MILE_TITLE,
	    		A.ISSUE_IPCR_SE_CODE,
	    		C.MBER_NCNM,
				(
					SELECT
						COUNT(*)
					FROM
						ISSUE_REPLY
					WHERE
						ISSUE_SN = A.ISSUE_SN
				)  AS REPLYCNT
			FROM
				ISSUE         A,
				PROJECT_USER  B,
				MEMBER        C,
				PROJECT       E
			WHERE
				A.ISSUE_WRTER = B.USER_SN
			AND B.MBER_SN = C.MBER_SN
			AND A.ISSUE_STTUS_CODE = '1'
			AND B.USER_SN IN (SELECT USER_SN FROM PROJECT_USER WHERE MBER_SN =#{mber_sn})
			AND B.PRJCT_SN = E.PRJCT_SN
			ORDER BY A.ISSUE_REGDATE DESC) openIS
	</select>
	
	<select id="selectCnt" resultType="int">
		/* selectCnt */
		SELECT COUNT(*) 
		FROM ISSUE A, PROJECT_USER B, MEMBER C
		WHERE	A.ISSUE_WRTER = B.USER_SN
		  AND	B.MBER_SN = C.MBER_SN
		  AND	A.ISSUE_STTUS_CODE = '1'
		  AND	B.USER_SN IN (SELECT USER_SN FROM PROJECT_USER WHERE MBER_SN = #{mber_sn})
	</select>
	
	<select id="selectIssueCloseByMber_sn" resultType="issue">
	/*	selectIssueCloseByMber_sn */
		SELECT	ROWNUM, closeIS.* 
		FROM
			(
			SELECT
				A.ISSUE_SN,
				A.ISSUE_TITLE,
				E.PRJCT_SJ,
				(
					SELECT
						D.MILE_NO
					FROM
						MILESTONE D
					WHERE
						A.MILE_NO = D.MILE_NO
				)  AS MILE_NO,
	    		(
					SELECT
						D.MILE_TITLE
					FROM
						MILESTONE D
					WHERE
						A.MILE_NO = D.MILE_NO
				)  AS MILE_TITLE,
	    		A.ISSUE_IPCR_SE_CODE,
	    		C.MBER_NCNM,
				(
					SELECT
						COUNT(*)
					FROM
						ISSUE_REPLY
					WHERE
						ISSUE_SN = A.ISSUE_SN
				)  AS REPLYCNT
			FROM
				ISSUE         A,
				PROJECT_USER  B,
				MEMBER        C,
				PROJECT       E
			WHERE
				A.ISSUE_WRTER = B.USER_SN
			AND B.MBER_SN = C.MBER_SN
			AND A.ISSUE_STTUS_CODE = '0'
			AND B.USER_SN IN (SELECT USER_SN FROM PROJECT_USER WHERE MBER_SN =#{mber_sn})
			AND B.PRJCT_SN = E.PRJCT_SN
			ORDER BY A.ISSUE_REGDATE DESC) closeIS
	</select>
	
	<select id="selectCloseCnt" resultType="int">
		/* selectCloseCnt */
		SELECT COUNT(*) 
		FROM ISSUE A, PROJECT_USER B, MEMBER C
		WHERE	A.ISSUE_WRTER = B.USER_SN
		  AND	B.MBER_SN = C.MBER_SN
		  AND	A.ISSUE_STTUS_CODE = '0'
		  AND	B.USER_SN IN (SELECT USER_SN FROM PROJECT_USER WHERE MBER_SN = #{mber_sn})
	</select>
	
	
	
</mapper>